# Data Science Academy - Python Fundamentos - Capítulo 2

### Download http://github.com/dsacademy.br

In [ ]:
# Atribuições o  valor 1 à variável
var_test = 1

In [ ]:
# Imprimindo o valor da variável
var_test

In [ ]:
# Imprimindo o valor da variável
print(var_test)

In [ ]:
# Não podemos usar uma variável que não foi definida
my_var

In [1]:
var_test = 2

In [2]:
var_test

2

In [3]:
type(var_test)

int

In [4]:
var_test = 9.5

In [5]:
type(var_test)

float

<p style="background-color:white; color:black">  ### html </p>

### Declaração Múltipla

In [6]:
pessoa1, pessoa2, pessoa3 = "Maria", "José", "Tobias"

In [7]:
pessoa1

'Maria'

In [8]:
pessoa2

'José'

In [9]:
pessoa3

'Tobias'

In [10]:
fruta1 = fruta2 = fruta3 = "Laranja"

In [11]:
fruta2

'Laranja'

In [12]:
fruta3

'Laranja'

### Pode-se usar letras, números e underline (mas não se pode começar com números)

In [13]:
x1 = 50

In [14]:
x1

50

In [15]:
# Mensagem de erro, pois o Python não permite nomed de variáveis que incidem com números
1x = 50

SyntaxError: invalid syntax (<ipython-input-15-047a23f9825c>, line 2)

### Não se pode usar palavras reservadas como nome de variável

In [16]:
largura = 2

In [17]:
altura = 4

In [18]:
area = largura * altura

In [19]:
area

8

In [20]:
perimetro = 2 * largura + 2 * altura

In [21]:
perimetro

12

In [22]:
# A ordem dos operadores é a mesma seguida na matemática
perimetro = 2 * (largura + 2) * altura

In [23]:
perimetro

32

### Operações com variáveis

In [24]:
idade1 = 25

In [25]:
idade2 = 35

In [26]:
idade1 + idade2

60

In [27]:
idade2 - idade1

10

### Concatenação de Variáveis

In [28]:
nome = "Steve"

In [29]:
sobrenome = "Jobs"

In [30]:
fullName = nome + " " + sobrenome

In [31]:
fullName

'Steve Jobs'

### Fim

### Obrigado - Data Science Academy - facebook.com/dsacademybr